.mb-3
{
    color: #2E1A66;
}
.titileForgotPassword{
    color: #2E1A66;
    padding-bottom: 5%;
   margin-top: 5px;
}


.forgotPasswordDiv{
    border-style: solid;
     border-color: #d0cdda;
     margin-left: 20%;
     margin-right: 20%;
     padding-top: 2%;
     margin-top: 6%;
     margin-bottom: 6%;
     padding-bottom: 3%;
   }

#forgotPassword{
    margin-top: 5%;
    width: 100%;
    display: flex;
}

.btn-cancel{
    width: 100%;
    background-color: #2E1A66;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 12px;
}
.btn-cancel-div{
    width: 50%;
    background-color: #2E1A66;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 12px;

}

.btn-forgotpassword {
   
    width: 100%;
    background-color: #2E1A66;
    font-size: 16px;
    color: white;
    text-align: center;
    border-radius: 12px;
}
.btn-forgotpwd-div{
    margin-left: 3%;
    width: 50%;
    border-radius: 12px;
    background-color: #2E1A66;
    font-size: 16px;
    color: white;

}
