
<div class="forgotPasswordDiv">

  <div class="container  col-md-10">
    <h2>
      <label for="titileForgotPassword" class="titileForgotPassword">Forgot Password</label>
    </h2>
    <form (ngSubmit)="forgotPassword()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" [(ngModel)]="forgotPasswordDto.email" class="form-control" id="email" name="email" placeholder="email">
      </div>

      <div id="forgotPassword">
        <div class="btn-cancel-div">
          <button type="submit" class="btn btn-cancel">Cancel</button>
        </div>
        
        <div class="btn-forgotpwd-div">
          <button type="submit" class="btn btn-forgotpassword">Reset Password</button>
        </div>
        

      </div>
      
    </form>
  </div>
</div>
