<html>
    <body id="pageBody">
        <div id="bookingDetails">
            <div id="bookingInfo">
                <div id="journeyLocation">
                   <h3>
                    <label id="journeyLocation" for="journeyLocation">{{'Mumbai'}}---->{{'Delhi'}}</label>
                   </h3>
                </div>
                <div id="fareDetails">
                    <div id="bookingDates">
                        <h6>
                            <label id="bookingDate" for="bookingDate">{{'Saturday,Nov 29'}}</label>
                        </h6>

                    </div>
                    <div id="duration">
                      <h6>
                         <label id="legDuration" for="legDuration">{{'Non Stop.1h 20m'}}</label>
                       </h6>
                     </div>
                     <div id="fareRule">
                        <button id="fareCancellationtBtn" (click)="openCancellationPolicy()">VIEW FARE RULES</button>

                     </div>
                </div>
                <div id="flightDetails">
                    <div id="imageDetails">
                        <img id="imageDetail" src="/asset/images/SpiceJet.png" class="img-responsive" width="100px" height="80px">

                    </div>
                    <div id="flightNames">
                        <h6>
                            <label id="flightName" for="flightName">{{'Spicejet'}}</label>
                        </h6>

                    </div>
                    <div id="flightNumbers">
                        <h6>
                            <label id="flightNumber" for="flightNumber">{{'UK 1552'}}</label>
                        </h6>

                    </div>
                    <div id="fareClassType">
                        <h6>
                            <label id="fareClass" for="fareClass">{{'First Class'}}</label>
                        </h6>

                    </div>

                </div>
        
            </div>
            <div id="fareSummary">
               <h1>fare Summary</h1>
            </div>
        
        
        </div>
    </body>
</html>
