<div id="titleClose">
  <div id="titleSize">
    <mat-dialog-actions>
      <button class="popupTitleClose" mat-button mat-dialog-close>X</button>
    </mat-dialog-actions>
  </div>

</div>
<div class="fareOption">
<h1>
  <label>Select fare option available for your trip</label>
</h1>
</div>
<div id="priceDetails">
  <div id="priceBreakup">
    <div id="fareDetails">
       <div id="airLinePrice">
         <h1 id="priceId">RS.3500</h1>Per person

       </div>
       <div id="mealDetails">
         <div id="baggage">
          <h4>Baggage</h4>
          <ul class="ffCardList">
            <li>
              <img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/included.png" alt="iconURL">
              <span class="blackText fontSize12">7 Kgs Cabin Baggage

              </span>
            </li>
            <li><img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/included.png" alt="iconURL">
              <span class="blackText fontSize12">20 Kgs Check-in Baggage</span>
            </li>

          </ul>

         </div>
         <div id="flexibility">
          <h4>Flexibility</h4>
          <ul class="ffCardList"><li><img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/not_included.png" alt="iconURL"><span class="blackText fontSize12"><font color="#757575">No refund on Cancellation</font></span></li><li><img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/not_included.png" alt="iconURL">
            <span class="blackText fontSize12"><font color="#757575">No refund on Date Change</font></span></li></ul>
         </div>
         <div id="seatMealAndMore">
          <h4>Seats,Meals And More</h4>
          <ul class="ffCardList"><li><img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/partial_inclusion.png" alt="iconURL"><span class="blackText fontSize12">Chargeable Seats</span></li><li><img class="bgProperties icon14 appendRight5" src="https://imgak.mmtcdn.com/flights/assets/media/dt/common/multifare/not_included.png" alt="iconURL">
            <span class="blackText fontSize12">
              <font color="#757575">No complimentary meal</font>
            </span></li></ul>

         </div>
         <div class="bookButton">
          <mat-dialog-actions>
           <button id="bookBtn" mat-button mat-dialog-close class="productBtn" (click)="getFlightFareDetails()">BOOK NOW</button>
          </mat-dialog-actions>
         </div>

       </div>

    </div>

  </div>

</div>